{% extends './base.html'%}

{% block title %} Mis productos {% endblock %}

{% block content %}

<h1 class="title mt-4">Lista de Productos</h1>
<br>
<div class="btn-new">
    <a href="{{url_for('product.create')}}">Agregar producto</a>
</div>

    <table class="table table-hover container">
        <tr class="table-info">
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Existencia</th>
            <th></th>
        </tr>
        {% for product in products %}
        <tr class="table-dark">
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>$ {{product.price}}</td>
            <td>{{product.stock}}</td>
            <td>
                <a href="{{url_for('product.edit', id=product['id'])}}" class="btn btn-info">Editar</a>
                <a href="{{url_for('product.delete', id=product['id'])}}" class="btn btn-danger">Eliminar</a>
            </td>
        
        </tr>

        {%endfor%}
    </table>

{% endblock %}